.navbar {
  background-color: #111a19;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  width: 100%;
}

.navbar-logo {
  height: 100px;
  width: 200px;
  object-fit: cover;
}
.navbar-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-header {
  color: #fbfada;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
