.navbar {
  background-color: rgb(45, 54, 46);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  width: 100%;
}

.navbar-logo {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.navbar-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-header {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
