@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;600;700&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fbfada;
  background-color: #111a19;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 100%;
}

a {
  font-weight: 500;
  color: #e4b663;
  text-decoration: inherit;
}

a:hover {
  color: #ffe8a3;
}
